
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');

$primary-color: #E63946;
$secondary-color: #1D3557;
$tertiary-color: #457B9D;
$quaternary-color: #E7DECD;

$quinary-color: #73E2A7;
$senary-color: #73E2A7;

$base-color: #F0EDEE;

*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 62.5%;
    font-family: 'KoHo', sans-serif;
    background-color: $base-color;
}

.main{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.game{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin-top: 5rem;
}
.game__text{
    grid-column: 1 / 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    flex-direction: column;
    font-size: 1.4rem;

    p{
        padding: 2rem 0rem;
    }
}
.game__img{
    grid-column: 12 / -1;
    align-self: center;

    img {
        display: block;
        max-width: 100%;
    }
}