
.front {
    border: 2px solid black;
    width: 7rem;
    &__img{
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            user-drag: none;
            -webkit-user-drag: none;
        }
    }
}
.back {
    width: 7rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        user-drag: none;
        -webkit-user-drag: none;
    }
}