.header {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    font-size: 1.2rem;
    height: 9vh;
    font-weight: 600;
    background-color: $primary-color;
    color: $secondary-color;
    &__title {
        grid-column: 2 / 10;
        align-self: center;
    }
    &__links {
        grid-column: 15 / 23;
        align-self: center;
    }
}