
.numbers {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    &__games {
        grid-column: 2 / 23;
        font-size: 1rem;
        color: white;
        margin-top: 4rem;
    }
}

.gameone {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    &__title {
        grid-column: 1 / -1;
        background-color: black;
        padding: 2rem;
        position: relative;
        h4{
            text-align: center;
            padding-top: 2rem;
        }
        h3 {
            position: absolute;
            top: -30px;
            left: 10px;
            color: white;
            background-color: black;
            padding: 1rem;
        }
    }

    &__game {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        &__left {
            grid-column: 1 / 14;
            border: 2px solid black;
            color: black;

            .operation {
                text-align: center;
                padding: 1.5rem;
                font-size: 1.6rem;
            }
        }
        &__right {
            grid-column: 14 / -1;
            border: 2px solid black;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: .5rem;
        }
    }
}

.answer {
    &__boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}