

.game{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    font-size: 1.2rem;
    &__head{
        grid-column: 3 / 23;
    }
    &__main{
        grid-column: 3/ 23;
        display: flex;
        padding: 2rem;
        &__left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex:1;
            text-align: center;

            &__operation{
                text-align: center;
                padding: 2rem;
                font-size: 1.9rem;
            }
            &__answer{
                &__message{
                    text-align: center;
                    padding: 2rem;
                }
                &__boxes{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
        &__right{
            flex:1;
            &__cards{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
           
        }
    }
}
.difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    p{
        margin-right: 1rem;
        &:last-child{
            margin-right: 0rem;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.active{
    color: red;
}
.start{
    text-align: center;
    &:hover{
        cursor: pointer;
        color: rgb(117, 89, 53);
    }
}