
.numbers {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    &__games {
        grid-column: 2 / 23;
        font-size: 1rem;
        color: white;
        margin-top: 4rem;
    }
}

.gameone {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    &__title {
        grid-column: 1 / -1;
        padding: 2rem;
        position: relative;
        color: black;
        h4{
            text-align: center;
            padding-top: 2rem;
            &:hover{
                cursor: pointer;
                color: pink;
            }
        }
    }

    &__game {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        margin-bottom: 4rem;
        &__left {
            grid-column: 1 / 13;
            color: black;

            .operation {
                text-align: center;
                padding: 1.5rem;
                font-size: 1.6rem;
            }
        }
        &__right {
            grid-column: 13 / -1;

            
            &__cards {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: .5rem;
            }
        }
    }
}

.answer {
    &__boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__message {
        text-align: center;
        padding: 2rem;
    }
}

.difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
        margin: 1rem;
    }
}


.active {
    color: red;
}